/* Шрифты */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
/* Страницы */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually_hidden {
  display: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  color: #444444;
}
/* Кнопки ВСЕ */
.main_header_controls_button {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-color: #ffe17f;
  text-decoration: none;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: top;
}
.main_header_find_button {
  padding: 8px 50px;
}
.main_header_login {
  border-color: transparent;
  font-size: 18px;
}
.main_header_logout {
  border-color: transparent;
  font-size: 18px;
  color: #9c9595;
}
.delivery_button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main_header_find input {
  width: 350px;
  height: 40px;
  font-family: inherit;
  background-color: #ffe17f;
  font-size: 16px;
  line-height: 20px;
  color: #c7c7c7;
  border: 2px solid #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main_link {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main_header_logo_link {
  position: absolute;
  margin: -20px 0 0 60px;
}
/* Шапка */
.main_header {
  width: 1160px;
  background-color: #ffe17f;
  margin: 40px auto 0 auto;
}
.main_header_controls {
  display: flex;
  margin: 0;
  padding: 0;
}
.main_header_controls_right {
  max-width: 540px;
  margin-left: auto;
}
.main_header_controls_wrapper {
  display: flex;
  width: 1040px;
  margin: 46px 60px 30px 60px;
}
.main_header_navigation {
  display: flex;
  width: 1040px;
  height: 50px;
  margin: 0 60px 20px 60px;
}
.main_header_navigation_list {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
}
.main_header_navigation_link {
  display: flex;
  align-items: center;
  gap: 7px;
}
.main_header_controls_link {
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.main_header_controls_busket {
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
/* Главная страница */
.main_container {
  flex-grow: 1;
}
/* Слайдер */
.slider {
  margin: 0 auto 70px auto;
  width: 1160px;
  line-height: 30px;
}
.slider_1_container,
.slider_2_container,
.slider_3_container {
  display: none;
}
.slider_current {
  display: block;
}
.slider_1_wrapper {
  display: flex;
  margin-top: -40px;
}
.slider_2_wrapper {
  display: flex;
}
.slider_3_wrapper {
  display: flex;
}
.slider_image {
  margin-top: -120px;
}
.slider_number {
  display: block;
  width: 1160px;
  height: 114px;
  background-color: #ffe17f;
  color: #ffffff;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
}
.slider_info_wrapper {
  padding: 10px;
}
.slider_slogan {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.slider_features {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}
.slider_table {
  font-size: 16px;
}
.slider_pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.slider_pagination_wrapper {
  width: 1160px;
}
/* Витрина с товарами */
.showcase {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 170px;
}
.showcase_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.showcase_item {
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
}
.showcase_link {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}
/* Доставка */
.delivery {
  background: #f0f0f0;
  height: 289px;
  margin-bottom: 70px;
  line-height: 30px;
}
.delivery_carousel {
  display: none;
}
.delivery_current {
  display: flex;
}
.delivery_wrapper {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  height: 319px;
  top: -30px;
}
.delivery_wrapper img {
  position: relative;
  left: 186px;
}
.delivery_carousel_info {
  position: relative;
  width: 452px;
  top: -45px;
  left: 116px;
  line-height: 30px;
}
.delivery_carousel_title,
.about_title,
.contacts_title,
.subscribe_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.delivery_list {
  margin: 0;
  padding: 0;
  width: 280px;
}
/* Доставка кнопка */
.delivery_form_link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.delivery_form {
  width: 1160px;
  height: 100px;
  margin: 0 auto 70px auto;
  background: #f0f0f0;
}
.delivery_form_info {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.delivery_form_button_info {
  height: 40px;
  width: 40px;
  color: #413d3d;
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background: #f0f0f0;
}
.delivery_form_img {
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}
.delivery_form_button {
  margin-right: 42px;
  align-items: center;
}
/* О нас и Контакты */
.about {
  line-height: 30px;
}
.about_wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px auto;
}
.about_item::marker {
  color: #ffc700;
  font-size: 25px;
}
.about_item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-left: 10px;
}
.contacts {
  line-height: 30px;
}
.contacts_title_mini {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.contacts_address_text {
  font-style: normal;
}
.contacts_phone {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}
/* Подписка */
.subscribe {
  background: #f0f0f0;
  line-height: 30px;
}
.subscribe_container {
  width: 1160px;
  height: 421px;
  margin: 0 auto;
}
.subscribe_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 144px;
}
.subscribe_title {
  width: 350px;
  margin-right: 252px;
}
.subscribe_text {
  width: 560px;
}
.subscribe_form input {
  width: 600px;
  height: 50px;
  font-family: inherit;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 30px;
  border-color: transparent;
  border-bottom: 3px solid #c7c7c7;
}
.subscribe_form {
  display: inline-block;
}
.subscribe_button {
  padding: 15px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 3px solid #c7c7c7;
  cursor: pointer;
}
.subscribe_free {
  float: right;
}
.subscribe_free em {
  font-style: normal;
  padding-left: 16px;
}
.subscribe_free::before {
  content: url("../images/check.svg");
  width: 14px;
  height: 14px;
}
/* Подвал сайта */
.main_footer_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 260px;
  margin: 62px auto 0 auto;
}
.main_footer {
  background-color: #444444;
  color: #ffffff;
}
.main_footer_address {
  width: 239px;
}
.main_footer_address_text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.main_footer_line_yellow {
  background-color: #ffc500;
  height: 7px;
  width: 80px;
}
.main_footer_navigation {
  width: 444px;
}
.main_footer_navigation_list {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}
.main_footer_navigation_link {
  width: 175px;
  color: #ffffff;
}
.main_footer_navigation_social_list {
  display: flex;
  margin: 0;
  padding: 0;
}
.main_footer_adress {
  margin-bottom: 62px;
}
.main_footer_tel a {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
/* Внутренняя страница */
.inner_header_wrapper {
  width: 1160px;
  margin: 0 auto 34px auto;
}
.inner_header_title {
  width: 1079px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}
/* Хлебные крошки */
.breadcrumbs {
  color: #242424;
}
.breadcrumbs_link {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
/* Католог фон */
.product_list_wrapper {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 78px;
}
.catalog_products {
  background: #f0f0f0;
}
.catalog_products_wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.catalog_products_container {
  width: 840px;
}
/* Католог фильтр */
.catalog_filter {
  width: 320px;
  padding: 30px;
}
.catalog_products_title_wrapper {
  display: flex;
  justify-content: space-between;
}
.catalog_filter_title,
.product_card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.catalog_filter_control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.catalog_filter_min,
.catalog_filter_max {
  font-size: 14px;
  line-height: 20px;
  color: #c7c7c7;
}
.main_button_catalog {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}
/* Католог сортировка */
.button_sort {
  text-decoration: none;
}
.catalog_products_title {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.select_control {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #f0f0f0;
  border: 0;
}
/* Католог товаров */
.product_list {
  background: #ffffff;
}
.product_card_link {
  color: #444444;
  text-decoration: none;
}
.pagination_show_more {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  border: 3px solid #f0f0f0;
  width: 760px;
  padding: 14px;
}
/* Пагинация */
.pagination_wrapper {
  width: 760px;
}
.pagination {
  display: flex;
  background-color: #ebebeb;
  padding: 15px;
  margin: 20px;
  justify-content: center;
}

.pagination_link {
  color: #c7c7c7;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.pagination_current {
  color: #444444;
}
.pagination_disabled {
  color: #c7c7c7;
}
.pagination_text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.pagination_next {
  color: #000000;
}
