/* Шрифты */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
/* Страницы */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  color: #444444;
}
/* Кнопки ВСЕ */
.main_header_controls_button {
  font-family: inherit;
  font-size: 16px;
  height: 40px;
  width: 158px;
  text-align: center;
  background-color: #ffe17f;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main_header_login {
  border-color: transparent;
  height: 40px;
  font-size: 18px;
  font-family: inherit;
  text-align: center;
  background-color: #ffe17f;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 30px;
  vertical-align: center;
}
.main_header_logout {
  border-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #ffe17f;
  text-decoration: none;
  cursor: pointer;
  color: #9c9595;
  padding: 6px 5px;
  vertical-align: center;
  margin-left: 30px;
}
.delivery_button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.slider_button {
  position: absolute;
}
.main_header_find {
  margin-right: 26px;
}
.main_header_find input {
  width: 350px;
  height: 40px;
  font-family: inherit;
  background-color: #ffe17f;
  font-size: 16px;
  color: #c7c7c7;
  border: 2px solid #000000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 48px;
}
.main_link {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  padding: 10px 5px;
  z-index: 1;
}
.main_header_logo_link {
  position: absolute;
  margin: -20px 0 0 60px;
}
/* Шапка */
.main_header {
  width: 1160px;
  background-color: #ffe17f;
  margin: 40px auto 0 auto;
}
.main_header_controls {
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main_header_controls_right {
  max-width: 242px;
  margin-left: auto;
}
.main_header_controls_wrapper {
  display: flex;
  width: 1040px;
  margin: 41px 60px 30px 60px;
}
.main_header_navigation {
  display: flex;
  width: 1040px;
  min-height: 50px;
  margin: 0 20px 20px 60px;
}
.main_header_navigation_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
  list-style-type: none;
  z-index: 1;
  margin-right: -8px;
}
.main_header_navigation_catalog {
  align-self: center;
  margin-left: 20px;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.main_header_navigation_link {
  display: flex;
  align-items: center;
  z-index: 1;
}
.main_link_header {
  margin-right: 30px;
}
.main_header_controls_link {
  display: inline-block;
  color: #000000;
  text-align: right;
  text-decoration: none;
  padding: 8px 0;
}
.main_header_controls_busket {
  height: 40px;
  width: 132px;
}
.main_header_controls_match {
  height: 40px;
  width: 110px;
}
/* Главная страница */
.main_container {
  flex-grow: 1;
}
/* Слайдер */
.slider {
  margin: 0 auto 70px auto;
  width: 1160px;
}
.slider_1_container,
.slider_2_container,
.slider_3_container {
  display: none;
}
.slider_current {
  display: block;
  background-image: linear-gradient(#ffe17f 28%, transparent 20%);
}
.slider_1_wrapper {
  display: flex;
  gap: 25px;
  margin-top: -88px;
}
.slider_2_wrapper {
  display: flex;
}
.slider_3_wrapper {
  display: flex;
}
.slider_image {
  margin-top: -110px;
}
.slider_number_wrapper {
  display: flex;
  justify-content: end;
  margin-top: -40px;
  color: #ffffff;
  font-size: 180px;
  font-weight: 700;
  padding-right: 48px;
}
.slider_info_wrapper {
  padding-top: 13px;
  padding-left: 16px;
  z-index: 1;
}
.slider_slogan {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
}
.slider_text {
  display: block;
  line-height: 30px;
  margin-bottom: 40px;
}
.slider_link {
  width: 220px;
  height: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.slider_features {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}
.slider_table {
  font-size: 16px;
}
.slider_table td {
  padding: 10px;
}
.slider_pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider_pagination_wrapper {
  width: 1160px;
}
/* Витрина с товарами */
.showcase {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 170px;
}
.showcase img {
  margin: auto;
}
.showcase_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.showcase_link {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 160px;
  background-color: #ffe17f;
}
.showcase_item {
  display: flex;
  flex-direction: column;
  max-width: 160px;
}
.showcase_link_title {
  display: flex;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.showcase_link_title {
  order: 1;
}
.showcase_title {
  max-width: 160px;
}
/* Доставка */
.delivery {
  background: #f0f0f0;
  height: 289px;
  margin-bottom: 70px;
  line-height: 30px;
}
.delivery_carousel {
  display: none;
}
.delivery_current {
  display: flex;
}
.delivery_wrapper {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  height: 319px;
  top: -30px;
}
.delivery_wrapper img {
  position: relative;
  left: 186px;
}
.delivery_carousel_info {
  position: relative;
  width: 452px;
  top: -45px;
  left: 116px;
  line-height: 30px;
}
.delivery_carousel_title,
.about_title,
.contacts_title,
.subscribe_title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.delivery_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 280px;
}
/* Доставка кнопка */
.delivery_form_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.delivery_form {
  width: 1160px;
  height: 100px;
  margin: 0 auto 70px auto;
  background: #f0f0f0;
}
.delivery_form_info {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.delivery_form_button_info {
  height: 40px;
  width: 40px;
  color: #413d3d;
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background: #f0f0f0;
}
.delivery_form_img {
  display: flex;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}
.delivery_form img {
  margin: auto;
}
.delivery_form_button {
  margin-right: 42px;
  align-items: center;
}
/* О нас и Контакты */
.about {
  line-height: 30px;
  max-width: 520px;
  padding-right: 20px;
}
.about_wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px auto;
}
.line {
  height: 7px;
  width: 84px;
  background-color: #000000;
}
.about_text {
  margin-bottom: 30px;
}
.about_item::marker {
  color: #ffc700;
  font-size: 25px;
}
.about_item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-left: 10px;
  padding-bottom: 19px;
}
.about_title {
  margin: 0 0 48px 0;
}
.about_title::before {
  content: "";
  display: block;
  height: 7px;
  width: 84px;
  background-color: #000000;
  margin-bottom: 45px;
}
.about_link {
  width: 270px;
  text-align: center;
}
.contacts {
  line-height: 30px;
}
.contacts_title {
  margin: 0;
  margin-bottom: 48px;
}
.contacts_title::before {
  content: "";
  display: block;
  height: 7px;
  width: 84px;
  background-color: #000000;
  margin-bottom: 45px;
}
.contacts_text {
  margin-bottom: 30px;
}
.contacts_title_mini {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}
.contacts_address_text {
  font-style: normal;
}
.contacts_phone {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}
.contacts_schedule {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
}
.contacts_link {
  width: 259px;
  text-align: center;
}
/* Подписка */
.subscribe {
  background: #f0f0f0;
  line-height: 30px;
}
.subscribe_container {
  width: 1160px;
  height: 421px;
  margin: 0 auto;
}
.subscribe_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.subscribe_title {
  width: 350px;
  margin-right: 252px;
}
.subscribe_text {
  width: 560px;
}
.subscribe_form input {
  width: 600px;
  height: 50px;
  font-family: inherit;
  background-color: #f0f0f0;
  font-size: 18px;
  line-height: 30px;
  border-color: transparent;
  border-bottom: 3px solid #c7c7c7;
}
.subscribe_form {
  display: inline-block;
}
.subscribe_button {
  padding: 15px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: 3px solid #c7c7c7;
  cursor: pointer;
}
.subscribe_free {
  float: right;
}
.subscribe_free em {
  font-style: normal;
  padding-left: 16px;
}
.subscribe_free::before {
  content: url("../images/check.svg");
  width: 14px;
  height: 14px;
}
/* Подвал сайта */
.main_footer_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 260px;
  margin: 62px auto 0 auto;
}
.main_footer {
  background-color: #444444;
  color: #ffffff;
}
.main_footer_logo_link img {
  margin-bottom: 35px;
}
.main_footer_address {
  max-width: 239px;
}
.main_footer_address_text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 64px;
}
.main_footer_line_yellow {
  background-color: #ffc500;
  height: 7px;
  width: 80px;
}
.main_footer_navigation {
  max-width: 460px;
}
.main_footer_navigation_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  list-style-type: none;
  margin-top: 65px;
}
.main_footer_navigation_link {
  display: block;
  color: #ffffff;
}
.main_footer_navigation_social_list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main_footer_navigation_social_link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7c7c7c;
  border-radius: 50%;
}
.main_footer_address_text {
  display: block;
}
.main_footer_tel a {
  display: block;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}
.main_footer_tel_link {
  margin-top: 90px;
  margin-bottom: 64px;
}
.main_footer_copy {
  float: right;
}
/* Внутренняя страница */
.inner_header_title {
  width: 1079px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 50px;
  margin-bottom: 16px;
}
.inner_header_wrapper {
  width: 1160px;
  margin: 0 auto 35px auto;
}
/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  color: #242424;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs_link {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 36px;
}
/* Католог фон */
.product_list_wrapper {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 58px;
}
.catalog_products {
  background: #f0f0f0;
}
.catalog_products_wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.catalog_products_container {
  width: 840px;
}
/* Католог фильтр */
.catalog_filter {
  width: 320px;
  padding: 10px 30px 30px 0;
}
.catalog_products_title_wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
}
.catalog_filter_title,
.product_card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.catalog_filter_control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.catalog_filter_min,
.catalog_filter_max {
  font-size: 14px;
  line-height: 20px;
  color: #c7c7c7;
}
.main_button_catalog {
  font-family: "Raleway", "Arial", sans-serif;
  width: 220px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  margin-top: 35px;
}
/* Католог сортировка */
.button_sort {
  text-decoration: none;
}
.catalog_products_title {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.select_control {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #f0f0f0;
  border: 0;
}
.product_sort {
  margin-right: 40px;
}
/* Католог товаров */
.product_list {
  background: #ffffff;
  list-style-type: none;
}
.product_card_link {
  color: #444444;
  text-decoration: none;
}
.pagination_show_more {
  display: block;
  height: 55px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 3px solid #f0f0f0;
  width: 760px;
  padding: 14px;
  margin-bottom: 44px;
}
/* Пагинация */
.pagination_wrapper {
  display: flex;
  width: 760px;
  background-color: #ebebeb;
  min-height: 71px;
  margin: 0 auto;
  align-items: center;
}
.pagination {
  display: flex;
  margin: 20px;
  justify-content: center;
  list-style-type: none;
  align-items: center;
}
.pagination_item:not(:last-child) {
  margin-right: 8px;
}
.pagination_link {
  color: #c7c7c7;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}
.pagination_item {
  padding: 15px;
}
.pagination_current {
  color: #444444;
}
.pagination_disabled {
  color: #c7c7c7;
}
.pagination_text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.pagination_next {
  color: #000000;
  margin-left: auto;
}
.pagination_back {
  margin-right: 50px;
}
